# Dependencias
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Nativo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
android/
ios/

# Variables de entorno (credenciales)
.env
.env*.local

# Misc
.DS_Store
*.pem
npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo
